@charset "UTF-8";

p {
	font-size: 35px;
	text-align: center;
    margin-bottom: 10px; /* スコアとミスの間隔を狭める */

}


form {
    width: fit-content;
    margin: auto;

}

#userInput {
	width: 200px;
	height: 40px;
	margin-top:10px;
	text-align: center;
    font-size: 30px; /* 任意の大きさに調整 */
}

.result_top_space {
	margin-top: 121px;
	
}
